.section#news
  .centercolumn.narrow
    %h3 Silver Lake Forward Blog
    %sub.margin-bottom= link_to "Go back to Silver Lake Forward", '/'
    %hr
    - @posts.each do |post|
      .blogpost
        .news-date= "Update:&nbsp;&nbsp;#{post.created_at.strftime('%B %d, %Y')}".html_safe
        %h1= link_to post.title, comfy_blog_post_path('', post.blog.path, post.slug)
        .richtext= truncate_html(post.content, length: 1000).html_safe

        - if truncate_html(post.content, length: 750).length < post.content.length
          .margin-top= link_to "Read full post", comfy_blog_post_path('', post.blog.path, post.slug)

= comfy_paginate @posts