.section#news
  .centercolumn.narrow
    .news-date= "Update:&nbsp;&nbsp;#{@post.created_at.strftime('%B %d, %Y')}".html_safe
    %h1= link_to @post.title, comfy_blog_post_path('', @post.blog.path, @post.slug)
    .richtext= @post.content.html_safe
    .margin-top= link_to "See all blog posts", '/blog'