<!DOCTYPE html>
<html>
<head>
  <title>
    <% if @cms_page.try(:label).present? %>
      <%= @cms_page.label.capitalize %> - 
    <% end %>
    Silver Lake Forward
  </title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="description" content="We're a nonprofit dedicated to making the Silver Lake Reservoir into a world-class public space, celebrating access, 
beauty and conservation. ">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  <meta property="og:title" content="<%= @cms_page.try(:label).present? ? @cms_page.label.capitalize : 'Silver Lake Forward' %>">
  <meta property="og:site_name" content="Silver Lake Forward">
  <meta property="og:url" content="http://www.silverlakeforward.com">
  <meta property="og:description" content="We're a nonprofit dedicated to making the Silver Lake Reservoir into a world-class public space, celebrating access, 
beauty and conservation. ">
  <meta property="fb:app_id" content="">
  <meta property="og:type" content="website">
  <meta property="og:image" content="<%= image_url('og.png') %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <script type="text/javascript" async src="https://platform.twitter.com/widgets.js"></script>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '228101274189985',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>

<%= yield %>

</body>
</html>
